.parcelamento-box {
    background: #fff;
    border-radius: 18px;
    padding: 25px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
}

.parcelamento-box table th {
    font-size: 0.85rem;
    color: #6b7280;
    font-weight: 600;
}